body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: center;
    color: #333;
    margin-top: 30px;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.contenedor-agregar-tarea {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 400px;
    margin: 10px;
    text-align: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-tareas {
    width: 400px;
    margin: 10px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.input-tarea {
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.nombre-tarea {
    font-size: 20px;
    color: #080808;
    margin-bottom: -5px;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
}

.boton-agregar {
    width: 50%;
    background-color: #007bff;
}

.boton-eliminar {
    background-color: #dc3545;
}

button:hover {
    opacity: 0.9;
}

.button-eliminar:hover {
    opacity: 0.9;
}
